body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #f34915;
}

#caratula {
  background-image: url("/images/wallhaven-11.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

#sectittle {
  color: #124A47;
  background-color: #124A47;
}

#secfooter {
  color: #f34915;
  background-color: #f34915;
}
