<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
</head>
<body>
    <div>
        <div>
            <head>
                <p>by Aubri Bank</p>
                <div id="logo">

                </div>
            </head>
            <div id="nombre empresa">
                
            </div>
            <div id="payment status">

            </div>
            <div id="date-time">
                <div id="date"></div>
                <div id="time"></div>
            </div>
            <div id="to">
                <div id="name company"></div>
                <div id="transfer ID"></div>
            </div>
            <div id="payment form">
                <div id="divisa"></div>
                <div id="cantidad"></div>
            </div>
            <div id="buttonSec">

            </div>
        </div>
    </div>
</body>
</html>